<ul class="nk-social-links-2">
  <li><%= link_to '<span class="fab fa-facebook"></span>'.html_safe, user_facebook_omniauth_authorize_path, class:'nk-social-facebook' %></li>
  <li><%= link_to '<span class="fab fa-twitter"></span>'.html_safe, user_twitter_omniauth_authorize_path, class:'nk-social-twitter' %></li>
  <li><%= link_to '<span class="fab fa-google-plus"></span>'.html_safe, user_google_oauth2_omniauth_authorize_path, class:'nk-social-google-plus' %></li>
  <li><%= link_to '<span class="fab fa-twitch"></span>'.html_safe, user_twitch_omniauth_authorize_path, class:'nk-social-twitch' %></li>
  <li><%= link_to '<span class="fab fa-steam"></span>'.html_safe, user_steam_omniauth_authorize_path, class:'nk-social-steam' %></li>
  <li><%= link_to '<span class="fab fa-vk"></span>'.html_safe, user_vkontakte_omniauth_authorize_path, class:'nk-social-vk' %></li>
</ul>