<%= header_btn(t("users.new.title"), new_user_path) %>

<div class="card">
  <div class="card-body">
    <table id="users_datatable" class="display nowrap table table-hover dataTable" data-source="<%= users_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t 'activerecord.attributes.user.username' %></th>
        <th><%= t 'activerecord.attributes.user.gender' %></th>
        <th><%= t 'activerecord.attributes.user.role' %></th>
        <th><%= t 'activerecord.attributes.user.country' %></th>
        <th class="text-center"><%= t 'activerecord.attributes.user.state' %></th>
        <th class="text-right"><%= t 'activerecord.attributes.user.balance' %></th>
        <th class="dt-options"></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<% content_for :javascript_code do %>
  <script>
      var params = {
          columns: [
              {data: 'username'},
              {data: 'gender'},
              {data: 'role'},
              {data: 'country'},
              {data: 'state'},
              {data: 'balance'},
              {data: 'actions'},
          ]
      };

      initDatatable($('#users_datatable'), params);
  </script>
<% end %>