<%= header_btn(t("users.new.title"), new_user_path) %>

<%= simple_nested_form_for setup_user(@user), html:{multipart: true} do |f| %>

  <%= render 'shared/form_errors', resource: @user %>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <%= f.input :email %>
          <div class="row">
            <%= f.input :password, wrapper_html: {class: "col-sm-6"} %>
            <%= f.input :password_confirmation, wrapper_html: {class: "col-sm-6"} %>
          </div>
          <%= f.input :username %>
          <hr>

          <%= f.input :name %>
          <%= f.input :lastname %>
          <%= f.input :dob, as: :string, input_html: {class: 'date-picker'} %>
          <%= f.input :gender, include_blank: :translate, input_html:{class:'select2'} %>

          <hr>
          <%= f.input :country, include_blank: :translate, input_html:{class:'select2'} %>
          <%= f.input :timezone, as: :time_zone, include_blank: :translate, input_html:{class:'select2'} %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <%= f.input :avatar %>
          <%= f.input :role %>
          <div class="form-group">
            <%= f.input_field :confirmed, as: :boolean, class: "js-switch", data:{disabled: f.object.confirmed?} %>
            <label><%= t "activerecord.attributes.user.confirmed" %></label>
          </div>
          <div class="form-group">
            <%= f.input_field :locked, as: :boolean, class: "js-switch", data: {color: "#c0392b", jackSecondaryColor: "#e74c3c"} %>
            <label><%= t "activerecord.attributes.user.locked" %></label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-b-10">
    <%= f.button :submit, class: 'btn-info' %>
    <%= cancel_btn(users_path) %>
    <%= delete_btn(@user, class: 'float-md-right') %>
  </div>
<% end %>

<% content_for :javascript_code do %>
<script>
  $(function () {
      $("#user_username").keyup(function () {
          var value = $(this).val().replace(/\s+/, '');
          $(this).val(value);
      })
  });
</script>
<% end %>