<%= header_btn(t("users.edit.title"), edit_user_path(@user), icon: 'edit') %>

<div class="row">
  <!-- Column -->
  <div class="col-xlg-3 col-md-3">

    <div class="card">
      <div class="card-body">
        <div class="row p-t-10 p-b-10">
          <!-- Column -->
          <div class="col p-r-0">
            <h1 class="font-light"><%= @user.points %> <% t 'activerecord.attributes.user.points' %></h1>
            <h6 class="text-muted"><%= @user.level %></h6></div>
          <!-- Column -->
          <div class="col text-right align-self-center">
            <div data-label="20%" class="css-bar m-b-0 css-bar-primary css-bar-<%= @user.points %>">
              <%= icon 'fas', 'trophy' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <center class="m-t-30">
          <%= image_tag @user.avatar_path, class: 'img-fluid mx-auto d-block' %>

          <h4 class="card-title m-t-10"><%= @user.fullname %></h4>
          <h6 class="card-subtitle">@<%= @user.username %></h6>
        </center>
      </div>
      <div class="card-body">
        <% if @user.identities.present? %>
          <small class="text-muted p-t-30 db"><%= t 'activerecord.models.identity.other' %></small>
          <br>

          <% @user.identities.each do |i| %>
            <%= link_to icon('fab', i.provider), class: 'btn btn-circle btn-secondary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-xlg-9 col-md-9">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#profile" role="tab"><%= t '.tabs.profile' %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#achievements" role="tab"><%= t '.tabs.achievements' %></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="profile" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-xs-6 b-r"><strong><%= t 'activerecord.attributes.user.email' %></strong>
                <br>
                <p class="text-muted"><%= @user.email %></p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"><strong><%= t 'activerecord.attributes.user.fullname' %></strong>
                <br>
                <p class="text-muted"><%= @user.fullname %></p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"><strong><%= t 'activerecord.attributes.user.dob' %></strong>
                <br>
                <p class="text-muted"><%= @user.dob %></p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"><strong><%= t 'activerecord.attributes.user.gender' %></strong>
                <br>
                <p class="text-muted"><%= @user.gender_text %></p>
              </div>
            </div>

            <hr>

            <form class="form-horizontal">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-right col-md-4"><%= t 'activerecord.attributes.user.country' %></label>
                    <div class="col-md-8">
                      <p class="form-control-static"><%= @user.country %></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-right col-md-4"><%= t 'activerecord.attributes.user.timezone' %></label>
                    <div class="col-md-8">
                      <p class="form-control-static"><%= @user.timezone %></p>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>

        <!--second tab-->
        <div class="tab-pane" id="achievements" role="tabpanel">
          <div class="card-body">
            <% MeritBadge::TIERS.each do |tier| %>
              <h3><%= t "enumerize.merit_badge.tier.#{tier}" %></h3>

              <div class="badge-list">
                <% MeritBadge.where(tier: tier).each do |b| %>
                  <%= achievement_badge b, user: @user %>
                <% end %>
              </div>

              <div class="m-b-20"></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<% content_for :javascript_code do %>
<script>
  $(function () {
      $('.ach-badge').popover({
          placement: 'top',
          trigger: 'hover'
      });
  })
</script>
<% end %>