<div class="container m-t-40 m-b-40">
  <div class="row justify-content-center align-items-center">

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center"><%= t 'devise.passwords.change_title' %></h4>

          <%= render 'shared/form_errors', resource: resource %>

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.full_error :confirmation_token %>

              <%= f.input :password, label: "New password", required: true, autofocus: true %>
              <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>

            <%= f.button :submit, t('devise.passwords.change_btn'), class:'btn btn-block' %>
          <% end %>

          <div class="text-center m-t-10">
            <div><%= link_to t('devise.sessions.title'), new_user_session_path %></div>
            <div><%= link_to t('devise.registrations.title'), new_user_registration_path %></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>