<%= header_btn(t("agents.new.title"), new_agent_path) if can?(:create, Agent) %>

<div class="card">
  <div class="card-body">
    <table id="agents_datatable" class="display table table-hover dataTable" data-source="<%= agents_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t 'activerecord.attributes.agent.name' %></th>
        <th><%= t 'activerecord.attributes.agent.lastname' %></th>
        <th><%= t 'activerecord.models.department.one' %></th>
        <th><%= t 'activerecord.attributes.user.email' %></th>
        <th><%= t 'activerecord.attributes.user.state' %></th>
        <th class="dt-options"></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<% content_for :javascript_code do %>
  <script>
      var params = {
          columns: [
              {data: 'name'},
              {data: 'lastname'},
              {data: 'department'},
              {data: 'email'},
              {data: 'state'},
              {data: 'actions'},
          ]
      };

      initDatatable($('#agents_datatable'), params);
  </script>
<% end %>