<%= header_btn(t("agents.edit.title"), edit_agent_path(@agent)) if can?(:update, Agent) %>

<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <%= image_tag @agent.user.avatar_path, class: 'img-circle', width: 150 %>
          <h4 class="card-title m-t-10 text-center"><%= @agent.fullname %></h4>
          <div class="row text-center justify-content-md-center">
            <div class="col-4">
              <a href="javascript:void(0)" class="link"><i class="fas fa-ticket-alt"></i> <span class="font-medium"><%= @agent.tickets.count %></span></a>
            </div>
            <div class="col-4">
              <a href="javascript:void(0)" class="link"><i class="fas fa-reply"></i> <span class="font-medium"><%= @agent.ticket_replies.count %></span></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr>
      </div>
      <div class="card-body">
        <small class="text-muted"><%= t 'activerecord.attributes.user.email' %></small>
        <h6><%= @agent.user.email %></h6>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-8">
    <div class="card">
      <div class="card-body">
        <table id="tickets_datatable" class="table table-hover dataTable" data-source="<%= tickets_path(agent_id: @agent.id, format: :json) %>">
          <thead>
          <tr>
            <th><%= t 'activerecord.models.requester.one' %></th>
            <th><%= t 'activerecord.models.agent.one' %></th>
            <th><%= t 'activerecord.models.department.one' %></th>
            <th><%= t 'activerecord.attributes.ticket.subject' %></th>
            <th class="text-center"><%= t 'activerecord.attributes.ticket.priority' %></th>
            <th class="text-center"><%= t 'activerecord.attributes.ticket.state' %></th>
            <th class="dt-options"></th>
          </tr>
          </thead>
          <tfoot class="footer-search">
          <th><input class="form-control"></th>
          <th><input class="form-control"></th>
          <th><input class="form-control"></th>
          <th><input class="form-control"></th>
          <th><%= select_tag :priority, options_for_select(Ticket::PRIORITY), prompt: 'Select Priority..', class: 'form-control select2' %></th>
          <th><%= select_tag :state, options_for_select(Ticket::STATE), prompt: 'Select State..', class: 'form-control select2' %></th>
          <th></th>
          </tfoot>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>

<% content_for :javascript_code do %>
  <script>
      initDatatable($('#tickets_datatable'), {
          columns: [
              {data: 'requester'},
              {data: 'agent'},
              {data: 'department'},
              {data: 'subject'},
              {data: 'priority'},
              {data: 'state'},
              {data: 'actions'},
          ]
      });
  </script>
<% end %>