<%= header_btn(t("tickets.new.title"), new_ticket_path) if can?(:create, Ticket) && user_signed_in? %>

<%= simple_nested_form_for setup_ticket(@ticket), html:{multipart: true} do |f| %>

  <%= render 'shared/form_errors', resource: @ticket %>

  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <%= f.input :email, required: true unless user_signed_in? %>

          <% if user_signed_in? && !current_user.role?(:requester) %>
            <%= f.association :requester, include_blank: :translate, label_method: lambda{|r| "#{r.fullname} - #{r.user.email}"}, input_html: {class: 'select2'} %>
          <% end %>

          <%= f.association :ticket_template, include_blank: :translate, input_html: {class: 'select2'} %>
          <%= f.input :subject %>
          <%= f.input :tags, input_html: {class: 'tagsinput'} %>
          <hr>

          <%= f.input :description, input_html: {class: 'tinymce'} %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= t 'activerecord.models.file_attachment.other' %>
        </div>
        <div class="card-body">
          <table id="ticket-files" class="table table-sm table-hover">
            <tbody>
            <%= f.simple_fields_for :file_attachments, wrapper: false do |file| %>
              <tr class="fields">
                <td class="col-10">
                  <% if file.object.persisted? %>
                    <%= link_to file.object.file.blob.filename, rails_blob_path(file.object.file, disposition: 'preview') %>
                  <% else %>
                    <%= file.input :file, label: false %>
                  <% end %>
                </td>
                <td class="col-2 text-right">
                  <%= link_to icon('fas', 'download'), rails_blob_path(file.object.file, disposition: 'attachment'), class: 'btn btn-circle btn-sm btn-success' if file.object.file.try(:attached?) %>
                  <%= file.link_to_remove icon('fas', 'times'), class: 'btn btn-danger btn-circle btn-sm' %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

          <%= f.link_to_add icon('fas', 'plus', t('activerecord.models.file_attachment.one')), :file_attachments, data: {target: '#ticket-files'}, class: 'mt-2 btn btn-info' %>
        </div>
      </div>

      <% if @ticket.persisted? %>
        <div class="card">
          <div class="card-header">
            <%= t 'activerecord.models.ticket_reply.other' %>
          </div>
          <div class="card-body">
            <div id="ticket-replies">
              <% @ticket.ticket_replies.each do |r| %>
                <%= render 'ticket_replies/ticket_reply', ticket_reply: r %>
              <% end %>
            </div>

            <div id="ticket-reply-holder"></div>
            <hr>

            <div class="text-center">
              <%= link_to icon('fas', 'plus', t('ticket_replies.new.title')), new_ticket_ticket_reply_path(@ticket), remote: true, class: 'mt-2 btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <%= f.association :department, include_blank: :translate, input_html: {disabled: (action_name.in?(['edit', 'update']) && current_user.try(:role?, :requester)), class: 'select2'} %>

          <% if user_signed_in? && !current_user.role?(:requester) %>
            <%= f.association :agent, include_blank: :translate, label_method: lambda{|ag| "#{ag.fullname} - #{ag.user.email}"}, input_html: {class: 'select2'} %>
          <% end %>
          <hr>
          <%= f.input :priority, include_blank: false, input_html: {class: 'select2'} %>
          <% if user_signed_in? && !current_user.role?(:requester) %>
            <%= f.input :state, include_blank: false, input_html: {class: 'select2'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="m-b-10">
    <%= f.button :submit, class: 'btn-info' %>
    <%= cancel_btn(root_path) %>
    <%= delete_btn(@ticket, class: 'float-md-right') %>
  </div>
<% end %>

<% content_for :javascript_code do %>
<script>
  $(function () {
      $('#ticket_ticket_template_id').change(function () {
          let id = $(this).val();

          if(id){
              $.get(Routes.ticket_template_path(I18n.locale, id), function (data) {
                  if(data){
                      let template = data.ticket_template;

                      template.subject && $('#ticket_subject').val(template.subject);

                      if(template.tags){
                          _.each(template.tags.split(','), function (v) {
                              $('#ticket_tags').tagsinput('add', v);
                          });
                      }

                      template.description && tinyMCE.get('ticket_description').setContent(template.description);
                      template.department_id && $('#ticket_department_id').val(template.department_id).change();
                      template.agent_id && $('#ticket_agent_id').val(template.agent_id).change();
                      template.priority && $('#ticket_priority').val(template.priority).change();
                      template.state && $('#ticket_state').val(template.state).change();
                  }
              });
          }
      });

      $(document).on('click', '#ticket-reply-holder .btn', function (e) {
          e.preventDefault();
          let form = $('#ticket-reply-holder');

          let ticket_id = form.find('#ticket_reply_ticket_id').val();

          let data = {
              ticket_reply: {
                  content: form.find('#ticket_reply_content').val()
              }
          };

          $.post(Routes.ticket_ticket_replies_path(ticket_id), data);
      });
  });
</script>
<% end %>