<%= header_btn(t("tickets.new.title"), new_ticket_path) if can?(:create, Ticket) %>

<div class="card">
  <div class="card-body">
    <table id="tickets_datatable" class="table table-hover dataTable" data-source="<%= tickets_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t 'activerecord.models.requester.one' %></th>
        <th><%= t 'activerecord.models.agent.one' %></th>
        <th><%= t 'activerecord.models.department.one' %></th>
        <th><%= t 'activerecord.attributes.ticket.subject' %></th>
        <th class="text-center"><%= t 'activerecord.attributes.ticket.priority' %></th>
        <th class="text-center"><%= t 'activerecord.attributes.ticket.state' %></th>
        <th class="dt-options"></th>
      </tr>
      </thead>
      <tfoot class="footer-search">
      <th><input class="form-control"></th>
      <th><input class="form-control"></th>
      <th><input class="form-control"></th>
      <th><input class="form-control"></th>
      <th><%= select_tag :priority, options_for_select(Ticket::PRIORITY), prompt: 'Select Priority..', class:'form-control select2' %></th>
      <th><%= select_tag :state, options_for_select(Ticket::STATE), prompt: 'Select State..', class:'form-control select2' %></th>
      <th></th>
      </tfoot>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<% content_for :javascript_code do %>
  <script>
      initDatatable($('#tickets_datatable'), {
          columns: [
              {data: 'requester'},
              {data: 'agent'},
              {data: 'department'},
              {data: 'subject'},
              {data: 'priority'},
              {data: 'state'},
              {data: 'actions'},
          ],
          dom: "<l>" +
          "<'table-responsive'tr>" +
          "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
      });
  </script>
<% end %>