<%= header_btn(t("tickets.new.title"), new_ticket_path) if can?(:create, Ticket) %>

<div class="card">
  <div class="card-body">
    <table id="tickets_datatable" class="display table table-hover dataTable" data-source="<%= tickets_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t 'activerecord.models.requester.one' %></th>
        <th><%= t 'activerecord.models.agent.one' %></th>
        <th><%= t 'activerecord.models.department.one' %></th>
        <th><%= t 'activerecord.attributes.ticket.subject' %></th>
        <th class="text-center"><%= t 'activerecord.attributes.ticket.priority' %></th>
        <th class="text-center"><%= t 'activerecord.attributes.ticket.state' %></th>
        <th class="dt-options"></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<% content_for :javascript_code do %>
  <script>
      var params = {
          columns: [
              {data: 'requester'},
              {data: 'agent'},
              {data: 'department'},
              {data: 'subject'},
              {data: 'priority'},
              {data: 'state'},
              {data: 'actions'},
          ]
      };

      initDatatable($('#tickets_datatable'), params);
  </script>
<% end %>