<%= header_btn(t("requesters.new.title"), new_requester_path) if can?(:create, Requester) %>

<div class="card">
  <div class="card-body">
    <table id="requesters_datatable" class="display table table-hover dataTable" data-source="<%= requesters_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t 'activerecord.attributes.requester.name' %></th>
        <th><%= t 'activerecord.attributes.requester.lastname' %></th>
        <th><%= t 'activerecord.models.company.one' %></th>
        <th><%= t 'activerecord.attributes.user.email' %></th>
        <th class="text-center"><%= t 'activerecord.attributes.user.state' %></th>
        <th class="dt-options"></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<% content_for :javascript_code do %>
  <script>
      var params = {
          columns: [
              {data: 'name'},
              {data: 'lastname'},
              {data: 'company'},
              {data: 'email'},
              {data: 'state'},
              {data: 'actions'},
          ]
      };

      initDatatable($('#requesters_datatable'), params);
  </script>
<% end %>