<div class="card">
  <div class="card-body">
    <form method="get" action="<%= knowledge_base_search_path %>">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input name="text" class="form-control" value="<%= @query_text %>" required placeholder="Enter criteria..">
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Search Result For "<%= @query_text %>"</h4>
    <h6 class="card-subtitle">About <%= @results.total_count %> results</h6>
    <ul class="search-listing">
      <% @results.each do |r| %>
      <li>
        <h3><%= link_to r.title, r %></h3>
        <a href="javascript:void(0)" class="search-links"><%= r.solution_folder.try(:name) %> > <%= r.solution_folder.try(:solution_category).try(:name) %></a>
        <p><%= truncate strip_tags(r.content), length: 300 %></p>
      </li>
      <% end %>
    </ul>

    <div class="m-t-40">
      <%= paginate @results, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>